<suite name="VMware plugin server suite">
  <test name="VMware plugin server tests">
    <classes>
      <class name="jetbrains.buildServer.clouds.vmware.VmwareCloudIntegrationTest"/>
      <class name="jetbrains.buildServer.clouds.vmware.VmwareCloudInstanceTest"/>
      <class name="jetbrains.buildServer.clouds.vmware.VmwareCloudImageTest"/>
      <class name="jetbrains.buildServer.clouds.base.UpdateInstancesTaskTest"/>
      <class name="jetbrains.buildServer.clouds.base.connector.CloudAsyncTaskExecutorTest"/>
      <class name="jetbrains.buildServer.clouds.vmware.connector.VmwareTaskWrapperTest"/>
      <class name="jetbrains.buildServer.clouds.vmware.VmwarePropertiesProcessorTest"/>
      <class name="jetbrains.buildServer.clouds.vmware.VmwarePooledUpdateInstanceTaskTest"/>
    </classes>
  </test>
</suite>