<suite name="VMware plugin server suite">
  <test name="VMware plugin server tests">
    <classes>
      <class name="jetbrains.buildServer.clouds.vmware.VMWareCloudClientTest"/>
      <class name="jetbrains.buildServer.clouds.vmware.VMWareCloudInstanceTest"/>
      <class name="jetbrains.buildServer.clouds.vmware.VMWareCloudImageTest"/>
    </classes>
  </test>
</suite>