<component name="libraryTable">
  <library name="server">
    <CLASSES>
      <root url="file://$TeamCityDistribution$/webapps/ROOT/WEB-INF/lib" />
      <root url="jar://$TeamCityDistribution$/lib/jsp-api.jar!/" />
      <root url="jar://$TeamCityDistribution$/lib/servlet-api.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$TeamCityDistribution$/webapps/ROOT/WEB-INF/lib" recursive="false" />
  </library>
</component>